
<div class="flex flex-col mt-12 w-[800px] p-4 rounded-lg dark:bg-[#191919]" *ngFor="let post of obtenerRelioPost">

  <div class="flex flex-row items-center justify-between">
    <div class="flex flex-row">
      <div class="avatar w-12 rounded-full cursor-pointer">
        <img src="../../../assets/avatar-icon.jpg" alt="" class="">
      </div>
      <div class="ml-4">
        <h5 class="font-semibold  dark:text-white cursor-pointer">{{post.id_user}}</h5>
      </div>
    </div>

    <div>
      <small class="text-white opacity-60">{{post.fecha_Publicacion}}</small>
    </div>
  </div>

  <div class="mt-4 opacity-60 text-white">{{post.mensaje}}
  </div>

  <hr class="mt-2 dark:opacity-40">

  <div class="flex flex-row justify-end items-center gap-3 mt-2">
    {{post.dislike}}
    <button (click)="postDisLike(post.id!)">
      <svg class="w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8 14V4M8 14L4 14V4.00002L8 4M8 14L13.1956 20.0615C13.6886 20.6367 14.4642 20.884 15.1992 20.7002L15.2467 20.6883C16.5885 20.3529 17.1929 18.7894 16.4258 17.6387L14 14H18.5604C19.8225 14 20.7691 12.8454 20.5216 11.6078L19.3216 5.60779C19.1346 4.67294 18.3138 4.00002 17.3604 4.00002L8 4" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </button>
    {{post.like}}
    <button (click)="postLike(post.id!)">
      <svg class="w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </button>
    <button (click)="postRelio(post.id!)"><svg  class="w-6 dark:fill-white" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M21.7,10.2l-6.6-6C14.6,3.7,14,4.2,14,5v3c-4.7,0-8.7,2.9-10.6,6.8c-0.7,1.3-1.1,2.7-1.4,4.1   c-0.2,1,1.3,1.5,1.9,0.6C6.1,16,9.8,13.7,14,13.7V17c0,0.8,0.6,1.3,1.1,0.8l6.6-6C22.1,11.4,22.1,10.6,21.7,10.2z" id="share"/></svg>
    </button>
    {{post.relio}}  </div>

</div>
