<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row d-flex justify-content-center">

        <div class="col-md-6 col-lg-7 col-xl-8">
  
          <div *ngFor="let mensaje of todosLosMensajes; let i = index">
            <div class="d-flex justify-content-between mb-4">
      
              <div class="card" *ngIf="this.elMensajeEsMio(todosLosMensajes[i].texto) == true; else elseBlock">
                <div class="card-header p-3">
                  <p class="fw-bold mb-0"></p>
                  <p class="text-muted small mb-0"><i class="far fa-clock"></i>{{todosLosMensajes[i].creation_date.date | date:'medium'}}</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    {{todosLosMensajes[i].texto}}
                  </p>
                </div>

                <div >
                  <p>{{obtenerProfile.username}} </p>
                </div>
              </div>

              <ng-template #elseBlock>
                <div class="card ">
                  <div class="card-header  p-3">
                    <p class="fw-bold mb-0"></p>
                    <p class="text-muted small mb-0"><i class="far fa-clock"></i>{{todosLosMensajes[i].creation_date.date | date:'medium'}}</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      {{todosLosMensajes[i].texto}}
                    </p>
                  </div>
  
                  <div >
                    <p>{{this.obtenerBuscados[0].username}} </p>
                  </div>
                </div>

              </ng-template>
            </div>
          </div>



            <li class="bg-white mb-3">
              <label class="form-label" for="textAreaExample2">Message</label>
              <form class="mx-5" autocomplete="off" (ngSubmit)="crearMensaje()">
                <input type="text" name="termino" class="form-control"
                       placeholder="Buscar Usuario..."
                       [(ngModel)]="mensajeEnviado">
          
                       <button type="submit" class="btn btn-info btn-rounded float-end">Send</button>
              </form>
            </li>
          
        </div>
      </div>
    </div>
  </section>