
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <span class="fs-6 mx-5">{{usuario.username}}</span>
    <button mat-icon-button class="example-icon person-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon manage_accounts-icon" aria-label="Example icon-button with heart icon"
            (click)="profileSettings()">
      <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-icon-button class="logout-icon" aria-label="Example icon-button with share icon"
            (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

<!-- <div class="mt-5">
    <h1>Dashboard</h1>
    <hr>
    <p>Esta página sólo funciona si estás autenticado</p>

    <h4>User info</h4>
    <pre>{{usuario | json}}</pre>

</div> -->

<router-outlet></router-outlet>

