<div class="flex flex-col h-94 w-96 dark:bg-[#191919] rounded-lg p-4 mt-12">

    <div class="flex flex-row items-center">
        <div class="avatar online w-16 rounded-full cursor-pointer">
            <img src="../../../assets/avatar-icon.jpg" alt="" class="">
        </div>
        <div class="ml-4 w-28">
            <h5 class="font-semibold dark:text-white cursor-pointer">{{obtenerProfile.username}}</h5>
            <small class="opacity-60 dark:text-white">2 Amigos</small>
        </div>
    </div>

    <hr class="mt-4 dark:opacity-40">

    <div class="mt-4">
        <div class="flex flex-row">
            <svg class="w-5 dark:fill-[#ffffff] fill-black" viewBox="0 0 16.00 16.00" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" stroke-width="0.00016"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M8 .52a5.39 5.39 0 0 0-5.59 5.15c0 5 3.88 8.61 5.17 9.66a.66.66 0 0 0 .84 0c1.29-1.05 5.17-4.63 5.17-9.66A5.39 5.39 0 0 0 8 .52zM8 14a15.2 15.2 0 0 1-2.46-2.76 9.85 9.85 0 0 1-1.88-5.57A4.14 4.14 0 0 1 8 1.77a4.14 4.14 0 0 1 4.34 3.9c0 4.08-2.96 7.16-4.34 8.33z"></path><path d="M8 2.54a2.73 2.73 0 0 0-2.84 2.65A2.74 2.74 0 0 0 8 7.84a2.75 2.75 0 0 0 2.83-2.65A2.74 2.74 0 0 0 8 2.54zm0 4.05a1.49 1.49 0 0 1-1.57-1.4A1.49 1.49 0 0 1 8 3.79a1.5 1.5 0 0 1 1.58 1.4A1.5 1.5 0 0 1 8 6.59z"></path></g></svg>

            <p class="text-sm ml-3 dark:text-white">Sevilla, España</p>
        </div>
        <div class="flex flex-row mt-2">
            <svg class="w-5 dark:fill-white" fill="#000000" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>briefcase-blank</title> <path d="M28 7.75h-3.75v-2.75c-0.002-1.794-1.456-3.248-3.25-3.25h-10c-1.794 0.002-3.248 1.456-3.25 3.25v2.75h-3.75c-1.794 0.002-3.248 1.456-3.25 3.25v16c0.002 1.794 1.456 3.248 3.25 3.25h24c1.794-0.001 3.249-1.456 3.25-3.25v-16c-0.002-1.794-1.456-3.248-3.25-3.25h-0zM10.25 5c0.006-0.412 0.338-0.744 0.749-0.75h10.001c0.412 0.006 0.744 0.338 0.75 0.749v2.751h-11.5zM28.75 27c-0.006 0.412-0.338 0.744-0.749 0.75h-24.001c-0.412-0.006-0.744-0.338-0.75-0.749v-16.001c0.006-0.412 0.338-0.744 0.749-0.75h24.001c0.412 0.006 0.744 0.338 0.75 0.749v0.001z"></path> </g></svg>
            <p class="text-sm ml-3 mt-1 dark:text-white">Software Developer</p>
        </div>
    </div>

    <hr class="mt-4 mb-4 dark:opacity-40">

    <a href="" class="flex flex-row justify-between p-2 rounded-lg  dark:hover:bg-[#1C1C1C]">
        <h4 class="dark:text-white">Explorar</h4>
        <svg class="w-4 dark:fill-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="secondary" d="M19,16H4a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Zm1-6H5A1,1,0,0,1,5,8H20a1,1,0,0,1,0,2Z"></path><path id="primary" d="M12.69,22a1.07,1.07,0,0,1-.25,0,1,1,0,0,1-.71-1.23l4.82-18a1,1,0,1,1,1.93.52l-4.82,18A1,1,0,0,1,12.69,22ZM6.48,22l-.26,0a1,1,0,0,1-.7-1.23l4.82-18a1,1,0,1,1,1.93.52l-4.82,18A1,1,0,0,1,6.48,22Z"></path></g></svg>
    </a>

    <a href="" class="flex flex-row justify-between p-2 rounded-lg hover:bg-[#F0F0F0] dark:hover:bg-[#1C1C1C]">
        <h4 class="dark:text-white">Siguiendo</h4>
        <svg class="w-5 fill-transparent dark:fill-white " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14 18L16 20L22 14M4 20V19C4 16.2386 6.23858 14 9 14H12.75M15 7C15 9.20914 13.2091 11 11 11C8.79086 11 7 9.20914 7 7C7 4.79086 8.79086 3 11 3C13.2091 3 15 4.79086 15 7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </a>

    <a href="" class="flex flex-row justify-between p-2 rounded-lg hover:bg-[#F0F0F0] dark:hover:bg-[#1C1C1C]">
        <h4 class="dark:text-white">Seguidores</h4>
        <svg class="w-5 fill-transparent dark:fill-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 19V18C3 15.7909 4.79086 14 7 14H11C13.2091 14 15 15.7909 15 18V19M15 11C16.6569 11 18 9.65685 18 8C18 6.34315 16.6569 5 15 5M21 19V18C21 15.7909 19.2091 14 17 14H16.5M12 8C12 9.65685 10.6569 11 9 11C7.34315 11 6 9.65685 6 8C6 6.34315 7.34315 5 9 5C10.6569 5 12 6.34315 12 8Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </a>


    <div>

    </div>

</div>
