
<div class="flex flex-col h-94 w-96 dark:bg-[#191919] rounded-lg p-4 mt-12">

    <div class="flex flex-row justify-between">
        <h4 class="font-semibold dark:text-white">Sponsored</h4>
        <small class="opacity-70 dark:text-white">Create ad</small>
    </div>


    <div class="mt-3">
        <img src="../../../../assets/plant.jpg" alt="ad-image" class="rounded-md">
    </div>

    <div class="flex flex-row justify-between mt-2">
        <h4 class="font-medium dark:text-white">The Nature Conservancy</h4>
        <small><a href="https://www.nature.org/" target="_blank" class="opacity-70 dark:text-white">nature.org</a></small>
    </div>

    <div class="mt-3">
        <p class="opacity-70 dark:text-white">
          La naturaleza es nuestra fuente de vida. Cuidémosla y protejámosla para asegurar nuestro futuro y el de las generaciones
          venideras. ! Toma medidas hoy para preservar nuestra fuente de vida !
        </p>
    </div>

</div>
