
<div class="flex flex-col h-94 w-96 bg-white dark:bg-[#191919] rounded-lg p-4 mt-12">

    <div class="flex flex-row justify-between">
        <h4 class="font-semibold">Sponsored</h4>
        <small class="opacity-70">Create ad</small>
    </div>


    <div class="mt-3">
        <img src="../../../../assets/james-yarema-wQFmDhrvVSs-unsplash.jpg" alt="ad-image" class="rounded-md">
    </div>

    <div class="flex flex-row justify-between mt-2">
        <h4 class="font-medium">Coca-Cola</h4>
        <small><a href="https://www.coca-cola.com" target="_blank" class="opacity-70">coca-cola.com</a></small>
    </div>

    <div class="mt-3">
        <p class="opacity-70">¿Sientes sed? Nada te sacia como el sabor único y refrescante de Coca-Cola.
            la bebida icónica que une a las personas en todo el mundo desde hace más de 130 años. Coca-Cola, sabor original, momentos inolvidables.</p>
    </div>

</div>