
<!-- <span>{{obtenerProfile | json}}</span> -->

<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{obtenerProfile.username}}</h5>
              <p class="text-muted mb-1">{{obtenerProfile.bio | titlecase}}</p>
              <p class="text-muted mb-4">{{obtenerProfile.direccion}}</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Seguir</button>
                <button type="button" class="btn btn-outline-primary ms-1">Mensaje</button>
                <button type="button" class="btn btn-outline-primary ms-1">Crear Post</button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obtenerProfile.name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obtenerUser.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nacimiento</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obtenerProfile.fecha?.date| date: 'dd/MM/yyyy'}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Teléfono</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obtenerProfile.phone_number}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="row">
        <form [formGroup]="miFormulario" (ngSubmit)="userPost()">
          <div class="col-lg-4">
            <label for="exampleInputEmail1" class="form-label">Escribe tu nuevo Post</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   formControlName="message">
          </div>
          <button type="submit" [disabled]="miFormulario.invalid" class="btn btn-primary mt-3">Aceptar</button>
        </form>
    </div>

    </div>
  </section>