
<!-- <span>{{obtenerProfile | json}}</span> -->

<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{obtenerProfile.username}}</h5>
              <p class="text-muted mb-1">{{obtenerProfile.bio | titlecase}}</p>
              <p class="text-muted mb-4">{{obtenerProfile.direccion}}</p>
              <p class="text-muted ">Número de Seguidos:  {{numeroSeguidos}}</p>
              <p class="text-muted mb-4">Número de Seguidores:  {{numeroSeguidores}}</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-outline-primary ms-1">Mensaje</button>
                <button type="button" class="btn btn-outline-primary ms-1">Crear Post</button>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obtenerProfile.name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obtenerUser.username}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nacimiento</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obtenerProfile.fecha?.date| date: 'dd/MM/yyyy'}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Teléfono</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{obtenerProfile.phone_number}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <form [formGroup]="miFormulario" (ngSubmit)="userPost()">
            
              <label for="exampleInputEmail1" class="form-label">Escribe tu nuevo Post</label>
              <input type="text" [(ngModel)]="someValue" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="message">
            
            <button type="submit" [disabled]="miFormulario.invalid" class="btn btn-primary mt-3">Aceptar</button>
          </form>
        </div>

        <div class="col-lg-8">
        <div class="card mb-3" *ngFor="let post of obtenerPosts">
              <div class="card-body">
                {{post.message}}
              </div>
              <div class="card-footer text-muted d-flex justify-content-end">
                <p class="mt-3">{{post.publication}}</p>
                <button mat-icon-button class="example-icon manage_accounts-icon" aria-label="Example icon-button with heart icon"
                        (click)="borrarPost(post.id!)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
        </div>
      </div>

      </div>

      <p class="mt-2 mb-3">Siguiendo:</p>
      <div class="card mb-3" *ngFor="let seguidor of nombreSeguidores">
        <button type="button" class="btn btn-primary"
          (click)="perfilSeguidores(seguidor)">
          {{seguidor}}</button>
      </div>


      <p class="mt-2 mb-3">Seguidores:</p>
      <div class="card mb-3" *ngFor="let seguidor of perfilDeQuienMeSigue">
        <button type="button" class="btn btn-primary"
          (click)="perfilSeguidores(seguidor)">
          {{seguidor}}</button>
      </div>

    </div>

  </section>