
<form class="mt-5 mx-5" [formGroup]="miFormulario" (ngSubmit)="editProfile()">

  <!-- name input -->
  <div class="row mb-4  d-flex justify-content-center">
    <div class="col-8">
        <div class="form-outline">
          <label class="form-label" for="form3Example3">Nombre</label>
          <input type="text" id="form3Example3" class="form-control"
                 formControlName="name"/>


          <span class="form-text text-danger"
                *ngIf="campoEsValido('name')">
                El nombre debe tener más de 3 caracteres.
          </span>
        </div>
    </div>
  </div>

  <!-- bio input -->
  <div class="row mb-4  d-flex justify-content-center">
    <div class="col-8">
        <div class="form-outline">
          <label class="form-label" for="formbio">Bio</label>
          <input type="text" id="formbio" class="form-control"
                formControlName="bio" />
            <span class="form-text text-danger"
                *ngIf="campoEsValido('bio')">
                No puede tener más de 40 caracteres.
          </span>
        </div>
    </div>
  </div>

  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4 d-flex justify-content-center">
    <div class="col-4">
      <div class="form-outline">
        <label class="form-label" for="form3Example1">Username</label>
        <input type="text" id="form3Example1" class="form-control" 
              formControlName="twitter_username"/>

          <span class="form-text text-danger"
              *ngIf="campoEsValido('twitter_username')">
              El Username debe tener más de 5 caracteres.
          </span>
      </div>
    </div>
    <div class="col-4">
      <div class="form-outline">
        <label class="form-label" for="form3Example2">Web URL</label>
        <input type="text" id="form3Example2" class="form-control"
              formControlName="website_url" />
      </div>
    </div>
  </div>


  <!-- 2 column company and location -->
  <div class="row mb-4 d-flex justify-content-center">
    <div class="col-4">
      <div class="form-outline">
        <label class="form-label" for="form3company">Empresa</label>
        <input type="text" id="form3company" class="form-control" 
              formControlName="company"/>
      </div>
    </div>
    <div class="col-4">
      <div class="form-outline">
        <label class="form-label" for="form3location">Dirección</label>
        <input type="text" id="form3location" class="form-control"
               formControlName="location" />
      </div>
    </div>
  </div>

  <!-- Phone input -->
  <div class="row mb-5  d-flex justify-content-center">
    <div class="col-8">
        <div class="form-outline">
          <label class="form-label" for="formdate">Número de Teléfono</label>
          <input type="text" id="formdate" class="form-control"
                formControlName="phone_number" />
        </div>
    </div>
  </div>

  <!-- Fecha input -->
  <div class="row mb-5  d-flex justify-content-center">
    <div class="col-8">
        <div class="form-outline">
          <label class="form-label" for="formdate">Fecha de Nacimiento</label>
          <input type="date" id="formdate" class="form-control"
                formControlName="date_of_birth" />

            <span class="form-text text-danger"
                *ngIf="campoEsValido('date_of_birth')">
                Establece una fecha pasada.
          </span>
        </div>
    </div>
  </div>

  <!-- button input -->
  <div class="row mb-4  d-flex justify-content-center">
    <div class="col-8">
        <div class="form-outline">
          <button mat-fab extended style="background-color: #69f0ae;"
                  type="submit" [disabled]="miFormulario.invalid">
            <mat-icon>done_outline</mat-icon>
            <span class="strokeme">Aceptar</span>
          </button>
        </div>
    </div>
  </div>

</form>


